@import "../../scss/colors";

.text-lead {
    color: rgba($-light, 0.6);
    font-size: 1.25em;
    font-weight: 300;

    p:last-child {
        margin-bottom: 0;
    }

    &.lead-strong {
        color: $-light;
        font-weight: 400;
    }
}
