.jarallax {
    position: relative;
    z-index: 0;

    & > .jarallax-img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
    }

    &:not(.no-expand) {
        .gatsby-image-wrapper {
            height: 100% !important;
        }
    }

    // *:not([id^="jarallax-container"]) .jarallax-img,
    // & > .jarallax-img {
    //     transform: scale3d(1.2, 1.2, 1);
    // }
}
