@import "../../scss/media";
@import "../../scss/theme";

$offset-size: 84px;

.games-page {
    @include respond-between(sm, xl) {
        .top-banner {
            margin-left: -$offset-size;
        }

        .games-content-wrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: stretch;

            .games-content {
                flex-grow: 1;
            }

            .games-nav-spacer {
                flex-grow: 0;
                width: $offset-size;
            }
        }
    }

    .games-nav-outer {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        pointer-events: none;

        .games-bar.vertical {
            margin-top: auto;
            margin-bottom: auto;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            pointer-events: all;
        }

        @include respond-below(sm) {
            display: none;
        }

        @media (max-height: 599.95px) {
            display: none;
        }
    }
}
