@import "../../scss/colors";
@import "../../scss/media";
@import "../../scss/theme";
@import "../../scss/util";

$transition-duration: 0.4s;

.navbar-primary {
    transition-timing-function: ease;
    transition-duration: $transition-duration;
    transition-property: background-color, height;
    padding: {
        top: 0.65rem !important;
        bottom: 0.65rem !important;
    }
    height: 64px;
    box-shadow: $drop-shadow;
    align-items: flex-start !important;

    & > .container {
        transition-timing-function: ease;
        transition-duration: $transition-duration;
        transition-property: transform;
        transform: translateY(2px);

        @include respond-between(md, lg) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            max-width: none !important;
        }
    }

    .navbar-brand {
        margin-left: 0.5rem;
        transition: 0.25s opacity ease;

        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }

    svg {
        width: 140px;
    }

    .nav-item {
        margin-right: 0.15rem;
        a {
            @include transitions("background-color, box-shadow");
            padding: 0.95rem 0.85rem 0.9rem;
            color: $-light;
            border-radius: 4px;
            transition: 0.25s background-color ease;

            &:hover {
                background-color: rgba($-light, 0.1);
            }
            &:active {
                background-color: rgba($-dark, 0.1);
            }

            &.nav-link-outline {
                padding-top: 0.65rem;
                padding-bottom: 0.6rem;
            }

            &.disabled {
                pointer-events: none;
                cursor: initial;
                opacity: 0.6;
                color: $-light;
            }
			
			.mr-2 {
				margin: 0 0.25rem !important;
				line-height: 100%;
				vertical-align: -4px;
				
				svg {
					width: 1em;
					vertical-align: 0;
				}
			}
        }
    }

    .collapse-inner {
        display: flex !important;
        flex-basis: auto;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        transition-timing-function: ease;
        transition-duration: $transition-duration;
        transition-property: background-color;
    }

    @include respond-below(md) {
        $padding: 1rem;

        .navbar-collapse {
            margin-left: -$padding;
            margin-right: -$padding;
        }

        .collapse-inner {
            background-color: color-adjust($-primary, -15%);
            margin-top: 0.5rem;
            padding: {
                top: 0.25rem;
                bottom: 0.25rem;
                left: 0.75rem;
                right: 0.75rem;
            }

            box-shadow: inset 0 7px 16px -7px rgba(0, 0, 0, 0.2),
                inset 0 -7px 16px -7px rgba(0, 0, 0, 0.2);

            flex-direction: column;
            align-items: flex-start;
        }

        .container {
            margin-left: 0 !important;
            margin-right: 0 !important;
            max-width: none !important;
        }

        padding-left: $padding !important;
        padding-right: $padding !important;
    }

    .main-nav {
        @include respond-below(md) {
            margin-bottom: 0.75rem;
            margin-top: 0.5rem;
            width: 100%;
        }
        @include respond-above(md) {
            margin-left: 1.25rem;
            margin-right: auto;
        }

        a {
            &.active-link {
                background-color: rgba($-dark, 0.05);
                box-shadow: inset 0 0 8px rgba(black, 0.1);
                font-weight: 500;
            }
            &:not(.active-link) {
                color: rgba($-light, 0.9);
            }
        }

        .nav-item {
            @include respond-below(md) {
                a {
                    display: block;
                    padding: 0.5rem 0.85rem 0.45rem;
                }
            }
        }
    }

    .icon-nav {
        font-size: 1.5rem;
        @include respond-below(md) {
            font-size: 1.5rem;
            margin-bottom: 0.3rem;
        }

        .nav-item {
            a {
                padding: 0.4rem 0.55rem 0.4rem 0.55rem;
                vertical-align: -6px;
            }
        }
    }

    $this: &;
    &#{$this}__top {
        background-color: rgba(black, 0.4) !important;

        @include respond-above(md) {
            height: 80px;

            & > .container {
                transform: translateY(10px);
            }
        }

        @include respond-below(md) {
            .collapse-inner {
                background-color: rgba(black, 0.5);
                backdrop-filter: blur(8px);

                box-shadow: none !important;
            }
        }
    }

    .nav-link-outline {
        border: 2px solid $-light;

        @include respond-below(md) {
            margin-top: 0.1rem;
            display: inline-block;
            margin-left: 0.5rem;
        }
    }
}
