@import "./colors";
@import "./fonts";
@import "./animations";
@import "./media";
@import "./theme";
@import "./extend";
@import "node_modules/@fortawesome/fontawesome-svg-core/styles";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    letter-spacing: $headings-letter-spacing;
    margin-bottom: $headings-margin-bottom;
}

// Bootstrap config options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
$container-max-widths: (sm: 540px,
    md: 640px,
    lg: 960px,
    xl: 1140px) !default;

// Body
$body-bg: $-light !default;
$body-color: $-dark !default;
$inverse-bg: $-primary !default;
$inverse-color: $-light !default;

// Links
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Base Bootstrap
@import "./bootstrap";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    border-top: 1px solid rgba($-dark, 0.25);
}

html,
body {
    background-color: $-dark;
    color: $-light;
    overflow-x: hidden;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none;
}

.hr-short {
    width: 160px;
    border: none;
    border-top: 2px solid $-primary;
}

:not(pre)>code {
    color: darken($-dark, 10%);
    display: inline-block;
    background-color: white;
    padding: 0.1em 0.35em 0.05em;
    border-radius: 4px;
    border: 1px solid darken($-light, 10%);
}

.bg-hex {
    background-size: 80px, cover;
    // assets/hex_tile.svg
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 56 65.2' style='enable-background:new 0 0 56 65.2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.05;%7D .st1%7Bclip-path:url(%23SVGID_2_);%7D .st2%7Bfill:%23EEEEEE;%7D%0A%3C/style%3E%3Cg class='st0'%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='56' height='65.2'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st1'%3E%3Cpath class='st2' d='M35.2,20.2H20.8l-7.2,12.4L20.8,45h14.3l7.2-12.4L35.2,20.2 M36.8,17.3l8.8,15.3l-8.8,15.3H19.2l-8.8-15.3 l8.8-15.3H36.8L36.8,17.3z'/%3E%3Cpath class='st2' d='M35.2-12.4H20.8L13.7,0l7.2,12.4h14.3L42.3,0L35.2-12.4 M36.8-15.3L45.6,0l-8.8,15.3H19.2L10.4,0l8.8-15.3 H36.8L36.8-15.3z'/%3E%3Cpath class='st2' d='M35.2,52.8H20.8l-7.2,12.4l7.2,12.4h14.3l7.2-12.4L35.2,52.8 M36.8,49.9l8.8,15.3l-8.8,15.3H19.2l-8.8-15.3 l8.8-15.3L36.8,49.9L36.8,49.9z'/%3E%3Cpath class='st2' d='M63.2,36.5H48.8l-7.2,12.4l7.2,12.4h14.3l7.2-12.4L63.2,36.5 M64.8,33.6l8.8,15.3l-8.8,15.3H47.2l-8.8-15.3 l8.8-15.3H64.8L64.8,33.6z'/%3E%3Cpath class='st2' d='M63.2,3.9H48.8l-7.2,12.4l7.2,12.4h14.3l7.2-12.4L63.2,3.9 M64.8,1l8.8,15.3l-8.8,15.3H47.2l-8.8-15.3 L47.2,1H64.8L64.8,1z'/%3E%3Cpath class='st2' d='M7.2,36.5H-7.2l-7.2,12.4l7.2,12.4H7.2l7.2-12.4L7.2,36.5 M8.8,33.6l8.8,15.3L8.8,64.1H-8.8l-8.8-15.3 l8.8-15.3L8.8,33.6L8.8,33.6z'/%3E%3Cpath class='st2' d='M7.2,3.9H-7.2l-7.2,12.4l7.2,12.4H7.2l7.2-12.4L7.2,3.9 M8.8,1l8.8,15.3L8.8,31.6H-8.8l-8.8-15.3L-8.8,1H8.8 L8.8,1z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"),
        linear-gradient(to right,
            color-adjust($-primary, 8%),
            color-adjust($-primary, -3%));
    background-repeat: repeat, repeat;
    box-shadow: inset 0 0 20px #00000040;
}

.bg-light {
    color: $-dark;
}

.bg-darker {
    background-color: color-adjust($-dark, -20%);
    box-shadow: $inner-vertical-shadow;
}

.bg-lighter {
    background-color: color-adjust($-dark, 7.5%);
}

article a:not(.btn),
section a:not(.btn) {
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 2px solid rgba($-primary, 0.4);
    font-weight: 400;
    color: color-adjust($-primary, -5%);

    &:hover {
        border-bottom-color: $-primary;
        color: color-adjust($-primary, 5%);
    }
}

article .bg-light a:not(.btn),
.bg-light article a:not(.btn),
section .bg-light a:not(.btn),
.bg-light section a:not(.btn) {
    color: color-adjust($-primary, -20%);

    &:hover {
        color: color-adjust($-primary, -30%);
    }
}

#gatsby-focus-wrapper,
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &>*:not(main) {
        flex-grow: 0;
    }

    &>main {
        flex-grow: 1;
    }
}

main {
    position: relative;
}

.container {
    @include respond-below(sm) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@each $key,
$color in $theme-colors {
    .fill-#{$key} {
        fill: $color;
    }
}

/* Frosted translucent glass on browsers that support it */
.glass {
    background-color: rgba(205, 205, 205, 0.2);
    border-radius: 10px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .glass {
        background-color: rgba(205, 205, 205, 0.15);
        backdrop-filter: blur(8px);
        --webkit-backdrop-filter: blur(8px);
    }
}

// Raise z-level
.raise {
    z-index: 1;
    position: relative;
}

.no-select {
    user-select: none;
}

article {
    p,
    ol,
    ul {
        color: rgba($-light, 0.75);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.top-banner {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-bottom: 2.125rem;

    @include respond-above(lg) {
        padding-top: 4rem;
        padding-bottom: 2.5rem;
    }

    .anchor-wrapper:last-child h1 {
        margin-bottom: 0;
    }
}

.reverse-margin {
    margin-top: -48px;
}

.underline-links a {
    @extend .underline-link;
}

.text-white p {
    color: white !important;
}

h5 {
    font-size: 0.95rem;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

blockquote {
    background-color: rgba($-light, 0.05);
    padding: 1.25rem 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    border-left: .5rem solid rgba($-light, 0.15);

    p:last-child {
        margin-bottom: 0;
    }
}
